<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Translation" value="08-Translation"/>
        <add key="Proofread" value="09-Proofread"/>
        <add key="Raws" value="01-Raws"/>
        <add key="CLRD" value="02-CLRD"/>
        <add key="TS" value="03-TS"/>
        <add key="QC" value="04-QC"/>
    </appSettings>
</configuration>
